<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.13/dist/vuetify.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar color="primary" density="compact">
          <v-app-bar-title>Trade Calculator</v-app-bar-title>
        </v-app-bar>
        <v-main>
          <v-container fluid>
            <v-row dense>
              <!--  -->
              <v-col cols="12" xs="12" sm="12" md="6" lg="4">
                <v-card>
                  <v-card-item>
                    <v-card-subtitle>Target line calculation</v-card-subtitle>
                  </v-card-item>
                  <v-card-text class="py-0 px-0">
                    <v-container>
                      <v-row dense>
                        <v-col cols="4">
                          <v-text-field label="Entry price" type="number" v-model="inputTargetLine.entryPrice" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputTargetLine.entryPrice" color="primary" hide-details thumb-size="8" :min="0" :max="10000" :step="10"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field label="Trade shares" type="number" v-model="inputTargetLine.tradeShares" color="primary" variant="underlined" density="compact" hide-details="true" step="100" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputTargetLine.tradeShares" color="primary" hide-details thumb-size="8" :min="0" :max="10000" :step="100"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-switch density="compact" v-model="inputTargetLine.isShort" label="short" color="primary" hide-details="true" inline="true"></v-switch>
                        </v-col>
                      </v-row>
                      <v-row dense>
                        <v-col cols="4">
                          <v-text-field label="Target rate" type="number" v-model="inputTargetLine.targetRate" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputTargetLine.targetRate" color="primary" hide-details thumb-size="8" :min="0" :max="100" :step="1"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-switch density="compact" v-model="inputTargetLine.useLossCutRate" label="use loss cut rate" color="primary" hide-details="true" inline="true"></v-switch>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field label="Loss cut rate" type="number" v-model="inputTargetLine.lossCutRate" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputTargetLine.lossCutRate" color="primary" hide-details="true" thumb-size="8" :min="0" :max="100" :step="1"></v-slider>
                        </v-col>
                      </v-row>
                      <v-row dense>
                        <v-col cols="6">
                          <v-text-field v-model="outputTargetLineDispTargetPrice" label="Target price" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                        <v-col cols="6">
                          <v-text-field v-model="outputTargetLineDispProfit" label="Profit" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row dense>
                        <v-col cols="6">
                          <v-text-field v-model="outputTargetLineDispLossCutPrice" label="Loss cut price" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                        <v-col cols="6">
                          <v-text-field v-model="outputTargetLineDispLoss" label="Loss" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-col>
              <!--  -->
              <v-col cols="12" xs="12" sm="12" md="6" lg="4">
                <v-card>
                  <v-card-item>
                    <v-card-subtitle>Profit and loss calculation</v-card-subtitle>
                  </v-card-item>
                  <v-card-text class="py-0 px-0">
                    <v-container>
                      <v-row dense>
                        <v-col cols="4" >
                          <v-text-field label="Entry price" type="number" v-model="inputProfitLoss.entryPrice" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputProfitLoss.entryPrice" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="10"></v-slider>
                        </v-col>
                        <v-col cols="4" >
                          <v-text-field label="Trade shares" type="number" v-model="inputProfitLoss.tradeShares" color="primary" variant="underlined" density="compact" hide-details="true" step="100" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputProfitLoss.tradeShares" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="100"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-switch density="compact" v-model="inputProfitLoss.isShort" label="short" color="primary" hide-details="true"></v-switch>
                        </v-col>
                        <v-col cols="4" >
                          <v-text-field label="Current price" type="number" v-model="inputProfitLoss.currentPrice" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputProfitLoss.currentPrice" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="10"></v-slider>
                        </v-col>
                        <v-col cols="8">
                          <v-text-field v-model="profitLoss" label="Profit and loss" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-col>
              <!--  -->
              <v-col cols="12" xs="12" sm="12" md="6" lg="4">
                <v-card>
                  <v-card-item>
                    <v-card-subtitle>Averaging calculation</v-card-subtitle>
                  </v-card-item>
                  <v-card-text class="py-0 px-0">
                    <v-container>
                      <v-row dense>
                        <v-col cols="4">
                          <v-text-field label="Acquisition price" type="number" v-model="inputAveraging.acquisitionPrice" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputAveraging.acquisitionPrice" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="10"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field label="Current shares" type="number" v-model="inputAveraging.currentShares" color="primary" variant="underlined" density="compact" hide-details="true" step="100" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputAveraging.currentShares" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="100"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field v-model="dispBoughtPrice" label="Price" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row dense>
                        <v-col cols="4">
                          <v-text-field label="Current price" type="number" v-model="inputAveraging.currentPrice" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputAveraging.currentPrice" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="10"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field label="Trade shares" type="number" v-model="inputAveraging.tradeShares" color="primary" variant="underlined" density="compact" hide-details="true" step="100" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputAveraging.tradeShares" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="100"></v-slider>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field v-model="dispBuyingPrice" label="Price" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row dense>
                        <v-col cols="4">
                          <v-text-field v-model="dispAveragePrice" label="Average price" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field v-model="dispHoldingShares" label="Holding shares" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field v-model="dispEvaluatedPrice" label="Evaluate price" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row dense>
                        <v-col cols="4">
                          <v-text-field label="Profit-taking" type="number" v-model="inputAveraging.profitTaking" color="primary" variant="underlined" density="compact" hide-details="true" clearable></v-text-field>
                          <v-slider density="compact" v-model="inputAveraging.profitTaking" color="primary" hide-details="true" thumb-size="8" :min="0" :max="10000" :step="10"></v-slider>
                        </v-col>
                        <v-col cols="8">
                          <v-text-field v-model="profit" label="Profit" color="primary" density="compact" variant="solo" readonly></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.13/dist/vuetify.min.js"></script>
    <script>
      const { createApp } = Vue
      const { createVuetify } = Vuetify

      const vuetify = createVuetify()

      const app = createApp({
        data() {
          return {
            inputTargetLine: {
              entryPrice: 0,
              tradeShares: 100,
              isShort: false,
              targetRate: 20,
              useLossCutRate: false,
              lossCutRate: 3,
            },
            inputProfitLoss: {
              entryPrice: 0,
              currentPrice: 0,
              tradeShares: 100,
              isShort: false
            },
            inputAveraging: {
              acquisitionPrice: 0,
              currentShares: 0,
              currentPrice: 0,
              tradeShares: 0,
              profitTaking: 0,
            }
          }
        },
        computed: {
          outputTargetLineTargetPrice: function() {
            const entryPrice = Number(this.inputTargetLine.entryPrice);
            const targetRate = Number(this.inputTargetLine.targetRate);
            const isShort = this.inputTargetLine.isShort;
            const price = isShort ? entryPrice * (1 - targetRate / 100) : entryPrice * (1 + targetRate / 100);
            return price;
          },
          outputTargetLineDispTargetPrice: function() {
            return this.outputTargetLineTargetPrice.toLocaleString();
          },
          outputTargetLineProfit: function() {
            const entryPrice = Number(this.inputTargetLine.entryPrice);
            const tradeShares = Number(this.inputTargetLine.tradeShares);
            const isShort = this.inputTargetLine.isShort;
            const price = isShort ? (entryPrice * tradeShares) - (this.outputTargetLineTargetPrice * tradeShares)
                                  : (this.outputTargetLineTargetPrice * tradeShares) - (entryPrice * tradeShares);
            return price;
          },
          outputTargetLineDispProfit: function() {
            return this.outputTargetLineProfit.toLocaleString();
          },
          outputTargetLineLossCutPrice: function() {
            const entryPrice = Number(this.inputTargetLine.entryPrice);
            const lossCutRate = Number(this.inputTargetLine.lossCutRate);
            const targetRate = Number(this.inputTargetLine.targetRate);
            const isShort = this.inputTargetLine.isShort;
            const rate = this.inputTargetLine.useLossCutRate ? lossCutRate : targetRate / 2;
            const price = isShort ? entryPrice * (1 + rate / 100) : entryPrice * (1 - rate / 100);
            return price;
          },
          outputTargetLineDispLossCutPrice: function() {
            return this.outputTargetLineLossCutPrice.toLocaleString();
          },
          outputTargetLineLoss: function() {
            const entryPrice = Number(this.inputTargetLine.entryPrice);
            const tradeShares = Number(this.inputTargetLine.tradeShares);
            const isShort = this.inputTargetLine.isShort;
            const price = isShort ? (this.outputTargetLineLossCutPrice * tradeShares) - (entryPrice * tradeShares) 
                                  : (entryPrice * tradeShares) - (this.outputTargetLineLossCutPrice * tradeShares);
            return price;
          },
          outputTargetLineDispLoss: function() {
            return this.outputTargetLineLoss.toLocaleString();
          },
          lossCutPrice() {
            const lossCutRate = Number(this.inputLossAmount.lossCutRate);
            const entryPrice = Number(this.inputLossAmount.entryPrice);
            const price = entryPrice * (1 - lossCutRate / 100)
            const rounded = Math.round(price * 100) / 100
            return rounded.toLocaleString()
          },
          profitLoss() {
            const entryPrice = Number(this.inputProfitLoss.entryPrice);
            const currentPrice = Number(this.inputProfitLoss.currentPrice);
            const tradeShares = Number(this.inputProfitLoss.tradeShares);
            const isShort = Number(this.inputProfitLoss.isShort);
            const price = isShort ? (entryPrice * tradeShares) - (currentPrice * tradeShares)
                                  : (currentPrice * tradeShares) - (entryPrice * tradeShares);
            return price.toLocaleString()
          },
          boughtPrice() {
            const acquisitionPrice = Number(this.inputAveraging.acquisitionPrice);
            const currentShares = Number(this.inputAveraging.currentShares);
            return acquisitionPrice * currentShares;
          },
          dispBoughtPrice() {
            return this.boughtPrice.toLocaleString();
          },
          buyingPrice() {
            const currentPrice = Number(this.inputAveraging.currentPrice);
            const tradeShares = Number(this.inputAveraging.tradeShares);
            return currentPrice * tradeShares;
          },
          dispBuyingPrice() {
            return this.buyingPrice.toLocaleString();
          },
          evaluatedPrice() {
            return this.averagePrice * this.holdingShares;
          },
          dispEvaluatedPrice() {
            return this.evaluatedPrice.toLocaleString();
          },
          averagePrice() {
            const price = this.holdingShares == 0 ? 0 
                            : (this.boughtPrice + this.buyingPrice) / this.holdingShares;
            const rounded = Math.round(price);
            return rounded;
          },
          dispAveragePrice() {
            return this.averagePrice.toLocaleString();
          },
          holdingShares() {
            const currentShares = Number(this.inputAveraging.currentShares)
            const tradeShares = Number(this.inputAveraging.tradeShares)
            return currentShares + tradeShares;
          },
          dispHoldingShares() {
            return this.holdingShares.toLocaleString();
          },
          profit() {
            const profitTaking = Number(this.inputAveraging.profitTaking);
            const profit = (profitTaking * this.holdingShares) - this.evaluatedPrice;
            return profit.toLocaleString();
          }
        },
        methods: {
          toNumber: function(obj) {
            const newObj = {};
            Object.keys(obj).forEach(key => {
              newObj[key] = Number(obj[key]);
            });
          }
        },
        watch: {
          'inputAveraging.acquisitionPrice': function() {
            const value = this.inputAveraging.acquisitionPrice;
            this.inputAveraging.currentPrice = value;
            this.inputAveraging.profitTaking = value;
          },
          'inputProfitLoss.entryPrice': function() {
            const value = this.inputProfitLoss.entryPrice;
            this.inputProfitLoss.currentPrice = value;
          }
        }
      })
      app.use(vuetify).mount('#app')
    </script>
  </body>
</html>
